*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',Arial,sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:#f4f7fb;
color:#333;

}




/* MENU */

header{

position:fixed;
top:0;
width:100%;
z-index:1000;

}


.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 8%;

background:rgba(0,0,0,0.85);

backdrop-filter:blur(10px);

}



.logo img{

width:120px;

animation:entradaLogo 1.5s ease;

}



.menu{

display:flex;
gap:25px;
list-style:none;

}


.menu a{

color:white;
text-decoration:none;
font-weight:bold;

transition:.3s;

}


.menu a:hover{

color:#00e676;

}





/* HERO */


.hero{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

background:

linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.65)
),

url("../imagenes/fondo.jpg");


background-size:cover;

background-position:center;

color:white;

}



.hero-contenido{

animation:aparecer 1.5s ease;

}



.hero h1{

font-size:55px;

text-transform:uppercase;

margin-bottom:20px;

}


.hero h2{

font-size:28px;

margin-bottom:20px;

}



.hero p{

font-size:20px;

margin-bottom:30px;

}




.boton{

display:inline-block;

padding:15px 35px;

background:#00c853;

color:white;

border-radius:40px;

text-decoration:none;

font-size:18px;

font-weight:bold;

transition:.3s;

}



.boton:hover{

transform:scale(1.1);

box-shadow:0 0 25px #00c853;

}






/* SECCIONES */


.seccion{

padding:90px 8%;

}


.titulo{

text-align:center;

font-size:35px;

margin-bottom:50px;

color:#0d47a1;

}






/* NOSOTROS */


.contenido{

display:flex;

align-items:center;

gap:40px;

}



.texto{

flex:1;

font-size:18px;

line-height:1.8;

}



.texto ul{

margin-top:20px;

list-style:none;

}



.imagen{

flex:1;

}


.imagen img{

width:100%;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.2);

}






/* TARJETAS */


.tarjetas{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}



.card{

background:white;

padding:35px;

text-align:center;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.15);

transition:.4s;

}


.card i{

font-size:45px;

color:#1565c0;

margin-bottom:20px;

}



.card:hover{

transform:translateY(-12px);

box-shadow:0 15px 30px rgba(0,0,0,.25);

}







/* GALERIA */


.galeria{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}



.galeria img{

width:100%;

height:250px;

object-fit:cover;

border-radius:15px;

transition:.4s;

}



.galeria img:hover{

transform:scale(1.08);

}







/* CONTACTO */


.contacto{

background:#0d47a1;

color:white;

padding:70px;

text-align:center;

}



.contacto h2{

font-size:40px;

margin-bottom:20px;

}



.whatsapp{

margin-top:25px;

}




footer{

background:#111;

color:white;

text-align:center;

padding:20px;

}





/* ANIMACIONES */

/* ANIMACION SCROLL */


.card,
.titulo,
.contenido,
.galeria img{

opacity:0;

transform:translateY(40px);

transition:1s;

}



.mostrar{

opacity:1;

transform:translateY(0);

}
@keyframes aparecer{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}



@keyframes entradaLogo{

from{

opacity:0;

transform:scale(.5);

}


to{

opacity:1;

transform:scale(1);

}

}






/* CELULARES */


@media(max-width:768px){


.menu{

display:none;

}


.hero h1{

font-size:38px;

}


.hero h2{

font-size:22px;

}



.contenido{

flex-direction:column;

}


.seccion{

padding:70px 5%;

}


}
